In [1]:
import pandas as pd
import functools
import os

Workflow:

I. Loading 2010 SF1 data from Massachussetts and creating tables based on variables of interest

II. Loading 2010 DHC data from Massachussetts and creating tables based on variables of interest

In [2]:
# Checking working directory
os.getcwd
path = '/Users/christinaxu/Documents/dp_census'

I. Loading 2010 SF1 data from Massachusetts

a) Read in the segments of the 2010 SF1 for Massachusetts downloaded from [here](https://archive.ciser.cornell.edu/explore/download-centers/census-2010-sf1/files)

b) The specific segments are selected based on the columns from on Abie and Os's work:
* P8 - race in 63 categories
* P9 - race in 63 categories, non-hispanic
* P10 - race in 63 categories for 18+
* P11 - race in 63 categories, non-hispanic for 18+
* P12 - sex by age
* P14 - sex by for below 20 years of age

In [3]:
sf1_1 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000012010ur1.CSV')
sf1_2 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000022010ur1.CSV')
sf1_3 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000032010ur1.CSV')
sf1_4 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000042010ur1.CSV')
sf1_7 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000072010ur1.CSV')
sf1_8 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma000082010ur1.CSV')
mass_geo = pd.read_csv(path + '/ma2010ur1_49segments_csv/mageo2010ur1.CSV')

/Users/christinaxu/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,28,29,33,34,47,48,49,50,52,53,54,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
sf1_1.head()

  FILEID STUSAB  CHARITER  CIFSN  LOGRECNO  P0010001
0  UR1ST     MA         0    NaN         1   6547629
1  UR1ST     MA         0    NaN         2   6021989
2  UR1ST     MA         0    NaN         3   5912700
3  UR1ST     MA         0    NaN         4    109289
4  UR1ST     MA         0    NaN         5    525640

In [5]:
sf1_2.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,P0020001,P0020002,P0020003,P0020004,P0020005,P0020006
0,UR1ST,MA,0,NaN,1,6547629,6021989,5912700,109289,525640,0
1,UR1ST,MA,0,NaN,2,6021989,6021989,5912700,109289,0,0
2,UR1ST,MA,0,NaN,3,5912700,5912700,5912700,0,0,0
3,UR1ST,MA,0,NaN,4,109289,109289,0,109289,0,0
4,UR1ST,MA,0,NaN,5,525640,0,0,0,525640,0

In [6]:
mass_geo.head()
mass_geo = mass_geo[['FILEID', 'STUSAB', 'CHARITER', 'CIFSN', 'LOGRECNO', 'BLOCK', 'COUNTY', 'TRACT']]

c) Rather than dealing with 4 tables, let's merge them into a larger table based on LOGRECNO

In [7]:
table_list = [sf1_1, sf1_2, sf1_3, sf1_4, sf1_7, sf1_8, mass_geo]
sf1_mass = functools.reduce(lambda x, y: pd.merge(x,y, on=sf1_1.columns[:5].to_list()), table_list)

In [8]:
sf1_mass.head()

,FILEID,STUSAB,CHARITER,CIFSN,LOGRECNO,P0010001,P0020001,P0020002,P0020003,P0020004,...,P016H003,P016I001,P016I002,P016I003,P017A001,P017A002,P017A003,BLOCK,COUNTY,TRACT
0,UR1ST,MA,0,NaN,1,6547629,6547629,6021989,5912700,109289,...,385633,4892298,1003956,3888342,2.40,0.50,1.89,NaN,NaN,NaN
1,UR1ST,MA,0,NaN,2,6021989,6021989,6021989,5912700,109289,...,381060,4394984,891147,3503837,2.38,0.49,1.88,NaN,NaN,NaN
2,UR1ST,MA,0,NaN,3,5912700,5912700,5912700,5912700,0,...,378278,4300601,872634,3427967,2.38,0.50,1.88,NaN,NaN,NaN
3,UR1ST,MA,0,NaN,4,109289,109289,109289,0,109289,...,2782,94383,18513,75870,2.20,0.44,1.76,NaN,NaN,NaN
4,UR1ST,MA,0,NaN,5,525640,525640,0,0,0,...,4573,497314,112809,384505,2.62,0.60,2.02,NaN,NaN,NaN

d) Dropping column CIFSN and any rows that contain NaN values and columns P013+ since they aren't included in the model. In addition, renaming STUSAB to state.

In [9]:
sf1_mass.isna().sum() # CIFSN is the only column with all na values so drop it

FILEID           0
STUSAB           0
CHARITER         0
CIFSN       196412
LOGRECNO         0
             ...
P017A002         0
P017A003         0
BLOCK        38904
COUNTY        3130
TRACT         9439
Length: 952, dtype: int64

In [10]:
cols_to_drop = ['CIFSN'] + list(sf1_mass.filter(regex='P013|P015|P016|P017'))

In [11]:
sf1_mass.drop(cols_to_drop, axis=1, inplace=True)
sf1_mass.dropna(inplace=True)
sf1_mass.rename(columns={'STUSAB':'STATE'}, inplace=True)

In [12]:
sf1_mass.head()

,FILEID,STATE,CHARITER,LOGRECNO,P0010001,P0020001,P0020002,P0020003,P0020004,P0020005,...,P012I043,P012I044,P012I045,P012I046,P012I047,P012I048,P012I049,BLOCK,COUNTY,TRACT
59,UR1ST,MA,0,60,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3000.0,1.0,10206.0
60,UR1ST,MA,0,61,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3163.0,1.0,10206.0
65,UR1ST,MA,0,66,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3000.0,1.0,10208.0
66,UR1ST,MA,0,67,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3001.0,1.0,10208.0
71,UR1ST,MA,0,72,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1019.0,1.0,10400.0

In [13]:
print(sf1_mass['BLOCK'].nunique())
print(sf1_mass['COUNTY'].nunique())
print(sf1_mass['TRACT'].nunique())

1838
14
1469

e) Dividing sf1_mass into smaller dfs based on variables of interest

In [14]:
cols = ['STATE', 'LOGRECNO', 'BLOCK', 'COUNTY', 'TRACT']

P1 = sf1_mass[cols + list(sf1_mass.filter(regex='P001'))] # Total pop
P8 = sf1_mass[cols + list(sf1_mass.filter(regex='P008'))] # Race
P9 = sf1_mass[cols + list(sf1_mass.filter(regex='P009'))] # Hispanic or Latino
P10 = sf1_mass[cols + list(sf1_mass.filter(regex='P010'))] # Race for 18+
P11 = sf1_mass[cols + list(sf1_mass.filter(regex='P011'))] # Hispanic or Latio for 18+
P12 = sf1_mass[cols + list(sf1_mass.filter(regex='P012'))] # Sex by age
P14 = sf1_mass[cols + list(sf1_mass.filter(regex='P014'))] # Sex by age for under 20 years

In [15]:
P12.head()

,STATE,LOGRECNO,BLOCK,COUNTY,TRACT,P0120001,P0120002,P0120003,P0120004,P0120005,...,P012I040,P012I041,P012I042,P012I043,P012I044,P012I045,P012I046,P012I047,P012I048,P012I049
59,MA,60,3000.0,1.0,10206.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60,MA,61,3163.0,1.0,10206.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
65,MA,66,3000.0,1.0,10208.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,MA,67,3001.0,1.0,10208.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
71,MA,72,1019.0,1.0,10400.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

f) Futher dividing P12 into smaller dfs based on race categories which can be found [here](https://api.census.gov/data/2010/dec/sf1/variables.html).

In [16]:
letters = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
df_list_filtered = []

for letter in letters:
    df = P12[cols + list(sf1_mass.filter(regex= f'P012{letter}'))]
    df_list_filtered.append(df)
    
P12A = df_list_filtered[0] # sex by age (White)
P12B = df_list_filtered[1] # sex by age (Black or African American)
P12C = df_list_filtered[2] # sex by age (Native American or Alaska Native)
P12D = df_list_filtered[3] # ... (Asian)
P12E = df_list_filtered[4] # ... (Native Hawaiian and other Pacific Islander)
P12F = df_list_filtered[5] # ... ("Some other Race")
P12G = df_list_filtered[6] # ... (2 or more races)                    
P12H = df_list_filtered[7] # ... (Hispanic or Latino)
P12I = df_list_filtered[8] # .... (None Hispanic or Latino White)

In [17]:
# Dropping the above variables from P12 
P12.drop(list(P12.filter(regex='A|B|C|D|E|F|G|H|I')), axis=1, inplace=True)
P12.columns.to_list()

/Users/christinaxu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

['P0120001',
 'P0120002',
 'P0120003',
 'P0120004',
 'P0120005',
 'P0120006',
 'P0120007',
 'P0120008',
 'P0120009',
 'P0120010',
 'P0120011',
 'P0120012',
 'P0120013',
 'P0120014',
 'P0120015',
 'P0120016',
 'P0120017',
 'P0120018',
 'P0120019',
 'P0120020',
 'P0120021',
 'P0120022',
 'P0120023',
 'P0120024',
 'P0120025',
 'P0120026',
 'P0120027',
 'P0120028',
 'P0120029',
 'P0120030',
 'P0120031',
 'P0120032',
 'P0120033',
 'P0120034',
 'P0120035',
 'P0120036',
 'P0120037',
 'P0120038',
 'P0120039',
 'P0120040',
 'P0120041',
 'P0120042',
 'P0120043',
 'P0120044',
 'P0120045',
 'P0120046',
 'P0120047',
 'P0120048',
 'P0120049']

g) Saving dfs to csv files

In [18]:
table_list = [P1, P8, P9, P10, P11, P12, P12A, P12B, P12C, P12D, P12E, P12F, P12G, P12H, P12I, P14]
name_list = ['P1', 'P8', 'P9', 'P10', 'P11', 'P12', 'P12A', 'P12B', 'P12C', 'P12D', 'P12E', 'P12F', 'P12G', 'P12H', 'P12I', 'P14']
for table, name in zip(table_list,name_list):
    table.to_csv(path + '/mass_sf1/table_{}.csv'.format(name))

FileNotFoundError: [Errno 2] No such file or directory: '/Users/christinaxu/Documents/dp_census/mass_sf1/table_P1.csv'

 II. Loading 2010 DHC data from Massachusetts
 a) Read in the segments of the 2010 SF1 for Massachusetts downloaded from [here](https://archive.ciser.cornell.edu/explore/download-centers/census-2010-sf1/files)

a) The specific segments are selected based on the columns from on Abie and Os's work:
* P1 - total population
* P8 - race in 63 categories
* P9 - race in 63 categories, non-hispanic
* P10 - race in 63 categories for 18+
* P11 - race in 63 categories, non-hispanic for 18+
* P12 - sex by age
* P14 - sex by for below 20 years of age

In [19]:
# Demographic and Housing Characteristics File
col_names = 'FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN,LOGRECNO,GEOID,GEOCODE,REGION,DIVISION,STATE,STATENS,COUNTY,COUNTYCC,COUNTYNS,COUSUB,COUSUBCC,COUSUBNS,SUBMCD,SUBMCDCC,SUBMCDNS,ESTATEFP,ESTATECC,ESTATENS,CONCIT,CONCITCC,CONCITNS,PLACE,PLACECC,PLACENS,TRACT,BLKGRP,BLOCK,AIANHH,AIHHTLI,AIANHHFP,AIANHHCC,AIANHHNS,AITS,AITSFP,AITSCC,AITSNS,TTRACT,BTBG,ANRC,ANRCCC,ANRCNS,CBSA,MEMI,CSA,METDIV,NECTA,NMEMI,CNECTA,NECTADIV,CBSAPCI,NECTAPCI,UA,UATYPE,UR,CD111,CD113,CD114,CD115,CD116,SLDU11,SLDU12,SLDU14,SLDU16,SLDU18,SLDL11,SLDL12,SLDL14,SLDL16,SLDL18,VTD,VTDI,ZCTA,SDELM,SDSEC,SDUNI,PUMA,AREALAND,AREAWATR,BASENAME,NAME,FUNCSTAT,GCUNI,POP100,HU100,INTPTLAT,INTPTLON,LSADC,PARTFLAG,UGA'.split(',')
mass_dhc = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /mageo2010.dhc',
                     sep='|',
                     header=None,
                     names=col_names,
                     low_memory=False,
                     encoding='latin1')
mass_dhc.head()

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN,LOGRECNO,GEOID,GEOCODE,...,NAME,FUNCSTAT,GCUNI,POP100,HU100,INTPTLAT,INTPTLON,LSADC,PARTFLAG,UGA
0,DHCST,MA,40,00,00,0,0,1,0400000US25,25,...,Massachusetts,A,N,6547629,0,42.156520,-71.489592,00,NaN,NaN
1,DHCST,MA,40,00,01,0,0,2,0400001US25,25,...,Massachusetts,A,N,6020932,0,42.223216,-71.313364,00,NaN,NaN
2,DHCST,MA,40,00,43,0,0,3,0400043US25,25,...,Massachusetts,A,N,526697,0,42.194810,-71.769011,00,NaN,NaN
3,DHCST,MA,40,00,44,0,0,4,0400044US25,25,...,Massachusetts,A,N,68532,0,42.163135,-71.498091,00,NaN,NaN
4,DHCST,MA,40,00,48,0,0,5,0400048US25,25,...,Massachusetts,A,N,458165,0,42.195537,-71.812951,00,NaN,NaN

In [ ]:
mass_dhc_1 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000012010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_2 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000022010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_4 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000042010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_5 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000052010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_6 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000062010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_7 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000072010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_8 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000082010.dhc',sep='|',header=None,low_memory=False)
mass_dhc_9 = pd.read_csv(path + '/ma2010ur1_49segments_csv/ma2010.dhc /ma000092010.dhc',sep='|',header=None,low_memory=False)

In [ ]:
mass_dhc_1.head()

b) The DHC file segments doesn't come with column names so naming them below based on the technical documentation found [here](https://www2.census.gov/programs-surveys/decennial/2020/program-management/data-product-planning/2010-demonstration-data-products/02-Demographic_and_Housing_Characteristics/2022-03-16_Summary_File/2022-03-16_Technical%20Document/2022-03-16_Technical%20Document.pdf).

In [ ]:
# Dropping the columns 1-6 for now to make it easier to count
P1_P9=mass_dhc_1.iloc[:,6:] # P1-P9
P1_P9.rename(columns={x:y for x,y in zip(P1_P9.columns,range(0,len(P1_P9.columns)))})

In [ ]:
# First, let's isolate variables P1, P8, P9 into their own dfs
cols_to_keep = mass_dhc_1[[0,1,4]] # col 0 - FILEID, col 1 - STATE, col 4 - LOGRECNO
dhc_P1 = cols_to_keep.join(P1_P9.iloc[:, 0]) # Total Population
dhc_P8 = cols_to_keep.join(P1_P9.iloc[:,(1+4+8+3+17+7+16):(1+4+8+3+17+7+15+72)])
dhc_P9 = cols_to_keep.join(P1_P9.iloc[:,(1+4+8+3+17+7+15+71):])

In [ ]:
# Sanity check to make sure each df has the right number of cols:
print(dhc_P1.shape) # P1 should have 3 + 1 = 4 cols
print(dhc_P8.shape) # P8 should have 3 + 71 = 74 cols
print(dhc_P9.shape) # P9 should have 3 + 73 = 76 cols

In [ ]:
# Now, let's start renaming columns in each df, starting with P1
dhc_P1.rename(columns={0:'FILEID', 1: 'STATE', 4: 'LOGRECNO',6:'P0010001'}, inplace=True)
dhc_P1.head()

In [ ]:
# Creating a function to rename columns for the rest of the dfs
def rename_cols(variable, length, df):
    col_names = []
    for i in range(1,length+1):
        if variable < 10:
            if i < 10:
                col_names.append('P00{}00{}'.format(variable,i))
            else: 
                col_names.append('P00{}0{}'.format(variable,i))
        else:
            if i < 10:
                col_names.append('P0{}000{}'.format(variable,i))
            else: 
                col_names.append('P0{}00{}'.format(variable,i))
             
    col_names = ['FILEID', 'STATE', 'LOGRECNO'] + col_names
    
    df.columns = col_names
    
    print(df.columns)

In [ ]:
rename_cols(8, 71, dhc_P8)

In [ ]:
rename_cols(9, 73, dhc_P9)

c) Repeating the above steps to isolate variables P10, P11, P12, and P12A from mass_dhc_2.

In [ ]:
mass_dhc_2.head()

In [ ]:
P10_P12A = mass_dhc_2.iloc[:,5:] # P10-P12A
P10_P12A.rename(columns={x:y for x,y in zip(P10_P12A.columns,range(0,len(P10_P12A.columns)))})

In [ ]:
cols_to_keep = mass_dhc_2[[0,1,4]]
dhc_P10 = cols_to_keep.join(P10_P12A.iloc[:, :71]) #first 71 cols
dhc_P11 = cols_to_keep.join(P10_P12A.iloc[:, 71:(71+73)])
dhc_P12 = cols_to_keep.join(P10_P12A.iloc[:, (71+73):(71+73+49)])
dhc_P12A = cols_to_keep.join(P10_P12A.iloc[:, (71+73+49):(71+73+49+49)])

In [ ]:
# Sanity check to make sure we have the right number of columns
print(dhc_P10.shape) # P10 should have 3 + 71 = 74 cols
print(dhc_P11.shape) # ... 3 + 73 = 76
print(dhc_P12.shape) # ... 3 + 49 = 52
print(dhc_P12A.shape) # ... 3 + 49 = 52

In [ ]:
rename_cols(10,71,dhc_P10)

In [ ]:
rename_cols(11, 73, dhc_P11)

In [ ]:
rename_cols(12, 49, dhc_P12)

In [ ]:
def rename_lettered_cols(variable, length, df):
    col_names = []
    for i in range(1,length+1):
        if i < 10:
            col_names.append('P0{}00{}'.format(variable,i))
        else: 
            col_names.append('P0{}0{}'.format(variable,i))
    
    col_names = ['FILEID', 'STATE', 'LOGRECNO'] + col_names
    
    df.columns = col_names
    
    print(df.columns)

In [ ]:
rename_lettered_cols('12A', 49, dhc_P12A)

d) Repeating above steps to isolate 12B-12U from mass_dhc_4 - mass_dhc_8

In [ ]:
mass_dhc_4.head()

In [ ]:
def isolate_variable(df, start, end):
    cols_to_keep = df[[0,1,4]]
    appended_df = df.iloc[:,5:]
    appended_df.rename(columns={x:y for x,y in zip(appended_df.columns,range(0,len(appended_df.columns)))})
    variable_df = cols_to_keep.join(appended_df.iloc[:,start:end])
    print(variable_df.shape[1])
    return variable_df

In [ ]:
# All of these should have a length of 52
dhc_P12B = isolate_variable(mass_dhc_4,0,49)
dhc_P12C = isolate_variable(mass_dhc_4,49,(49+49))
dhc_P12D = isolate_variable(mass_dhc_5,0,49)
dhc_P12E = isolate_variable(mass_dhc_5,49,(49+49))
dhc_P12F = isolate_variable(mass_dhc_5,(49+49),(49+49+49))
dhc_P12G = isolate_variable(mass_dhc_5,(49+49+49),(49+49+49+49))
dhc_P12H = isolate_variable(mass_dhc_5,(49+49+49+49),(49+49+49+49+49))
dhc_P12I = isolate_variable(mass_dhc_6,0,49)
dhc_P12K = isolate_variable(mass_dhc_6,49,(49+49))
dhc_P12M = isolate_variable(mass_dhc_6,(49+49+49),(49+49+49+49))
dhc_P12O = isolate_variable(mass_dhc_7,49,(49+49))
dhc_P12Q = isolate_variable(mass_dhc_7,(49+49+49), (49+49+49+49))
dhc_P12S = isolate_variable(mass_dhc_8,0,49)
dhc_P12U = isolate_variable(mass_dhc_8,(49+49),(49+49+49))

In [ ]:
letters = ['B','C','D','E','F','G','H','I','K','M','O','Q','S','U']

for letter in letters:
    rename_lettered_cols('12{}'.format(letter), 49, globals()['dhc_P12{}'.format(letter)])

e) Lastly, isolatating P14 from mass_dhc_9

In [ ]:
dhc_P14 = isolate_variable(mass_dhc_9, 30,(30+43)) 
rename_cols(14,43,dhc_P14)

f) Finally saving tables to csv files

In [ ]:
table_list = [dhc_P1, dhc_P8, dhc_P9, dhc_P10, dhc_P11, dhc_P12, dhc_P12A, dhc_P12B, dhc_P12C, dhc_P12D, dhc_P12E, dhc_P12F, dhc_P12G, dhc_P12H, dhc_P12I, dhc_P12K, dhc_P12M, dhc_P12O, dhc_P12Q, dhc_P12S, dhc_P12U, dhc_P14]
name_list = ['P1', 'P8', 'P9', 'P10', 'P11', 'P12', 'P12A', 'P12B', 'P12C', 'P12D', 'P12E', 'P12F', 'P12G', 'P12H', 'P12I', 'P12K', 'P12M', 'P12O', 'P12Q', 'P12S', 'P12U','P14']
for table, name in zip(table_list,name_list):
    table.to_csv(path + '/mass_dhc/table_{}.csv'.format(name))