Workflow:
1) Load all tables from the SF1 data product 
   
2) Load all tables from the DHC data product

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [32]:
mass_sf1_table = pd.read_csv('/Users/christinaxu/Documents/dp_census/ma2010ur1_49segments_csv/mageo2010ur1.CSV', low_memory=False)
mass_sf1_table.head()

,FILEID,STUSAB,SUMLEV,GEOCOMP,CHARITER,CIFSN,LOGRECNO,REGION,DIVISION,STATE,...,SLDL2,SLDL3,SLDL4,AIANHHSC,CSASC,CNECTASC,MEMI,NMEMI,PUMA,RESERVED
0,UR1ST,MA,40,00,0,NaN,1,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UR1ST,MA,40,01,0,NaN,2,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UR1ST,MA,40,04,0,NaN,3,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UR1ST,MA,40,28,0,NaN,4,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UR1ST,MA,40,43,0,NaN,5,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Selecting columns based on Abie and Os's work
mass_sf1_table = mass_sf1_table[['FILEID','STUSAB','SUMLEV','GEOCOMP',
                                'CHARITER','CIFSN','LOGRECNO','REGION',
                                'DIVISION','STATE','COUNTY','COUNTYCC',
                                'COUNTYSC','COUSUB','COUSUBCC','COUSUBSC',
                                'PLACE','PLACECC','PLACESC','TRACT',
                                'BLKGRP','BLOCK']]

In [38]:
# Checking the number of rows: ~200000, makes sense why they decided to segment the data
mass_sf1_table.shape

(196412, 22)

In [51]:
# Segmenting the data into 5 segments 
def segment_by_rows(df, segments):
    """
    Takes a dataframe and an integer of the number of splits to create.
    Returns a list of dataframes.
    """
    dataframes = []
    rows = len(df) // segments
    start = 0
    end = rows
    for segments in range(segments):
        temporary_df = df.iloc[start:end, :]
        dataframes.append(temporary_df)
        start += rows
        end += rows
    return dataframes

segments = segment_by_rows(mass_sf1_table,5)
segments[0].head()

,FILEID,STUSAB,SUMLEV,GEOCOMP,CHARITER,CIFSN,LOGRECNO,REGION,DIVISION,STATE,...,COUNTYSC,COUSUB,COUSUBCC,COUSUBSC,PLACE,PLACECC,PLACESC,TRACT,BLKGRP,BLOCK
0,UR1ST,MA,40,00,0,NaN,1,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,UR1ST,MA,40,01,0,NaN,2,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,UR1ST,MA,40,04,0,NaN,3,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,UR1ST,MA,40,28,0,NaN,4,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UR1ST,MA,40,43,0,NaN,5,1,1,25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# Saving segments into .csv files
path = '/Users/christinaxu/Documents/dp_census/mass_sf1/'
for i in range(len(segments)):
    segments[i].to_csv(path + f'mass_sf1_table{i}')

In [61]:
# Reading in the Massachusetts DHC file
col_names = 'FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN,LOGRECNO,GEOID,GEOCODE,REGION,DIVISION,STATE,STATENS,COUNTY,COUNTYCC,COUNTYNS,COUSUB,COUSUBCC,COUSUBNS,SUBMCD,SUBMCDCC,SUBMCDNS,ESTATEFP,ESTATECC,ESTATENS,CONCIT,CONCITCC,CONCITNS,PLACE,PLACECC,PLACENS,TRACT,BLKGRP,BLOCK,AIANHH,AIHHTLI,AIANHHFP,AIANHHCC,AIANHHNS,AITS,AITSFP,AITSCC,AITSNS,TTRACT,BTBG,ANRC,ANRCCC,ANRCNS,CBSA,MEMI,CSA,METDIV,NECTA,NMEMI,CNECTA,NECTADIV,CBSAPCI,NECTAPCI,UA,UATYPE,UR,CD111,CD113,CD114,CD115,CD116,SLDU11,SLDU12,SLDU14,SLDU16,SLDU18,SLDL11,SLDL12,SLDL14,SLDL16,SLDL18,VTD,VTDI,ZCTA,SDELM,SDSEC,SDUNI,PUMA,AREALAND,AREAWATR,BASENAME,NAME,FUNCSTAT,GCUNI,POP100,HU100,INTPTLAT,INTPTLON,LSADC,PARTFLAG,UGA'.split(',')
mass_dhc = pd.read_csv('/Users/christinaxu/Documents/dp_census/ma2010.dhc /mageo2010.dhc',
                     sep='|',
                     header=None,
                     names=col_names,
                     low_memory=False,
                     encoding='latin1')
mass_dhc.head()

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN,LOGRECNO,GEOID,GEOCODE,...,NAME,FUNCSTAT,GCUNI,POP100,HU100,INTPTLAT,INTPTLON,LSADC,PARTFLAG,UGA
0,DHCST,MA,40,00,00,0,0,1,0400000US25,25,...,Massachusetts,A,N,6547629,0,42.156520,-71.489592,00,NaN,NaN
1,DHCST,MA,40,00,01,0,0,2,0400001US25,25,...,Massachusetts,A,N,6020932,0,42.223216,-71.313364,00,NaN,NaN
2,DHCST,MA,40,00,43,0,0,3,0400043US25,25,...,Massachusetts,A,N,526697,0,42.194810,-71.769011,00,NaN,NaN
3,DHCST,MA,40,00,44,0,0,4,0400044US25,25,...,Massachusetts,A,N,68532,0,42.163135,-71.498091,00,NaN,NaN
4,DHCST,MA,40,00,48,0,0,5,0400048US25,25,...,Massachusetts,A,N,458165,0,42.195537,-71.812951,00,NaN,NaN

In [63]:
# Segmenting this into 20 segments
segments1 = segment_by_rows(mass_dhc, 20)
path = '/Users/christinaxu/Documents/dp_census/mass_dhc/'
for i in range(len(segments1)):
    segments1[i].to_csv(path + f'mass_dhc_table{i}')